@import "tailwindcss";

@theme {
  --color-cream: #FFF8F3;
  --color-cream-dark: #F5EBE0;
  --color-pink: #F9A8D4;
  --color-pink-light: #FCE7F3;
  --color-pink-pale: #FFF0F6;
  --color-brown: #7C3527;
  --color-brown-dark: #4A1A0D;
  --color-brown-light: #A0522D;
  --color-peach: #FDE8D8;
  --color-peach-dark: #F5C9A8;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF8F3;
  color: #4A1A0D;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #FFF0F6;
}
::-webkit-scrollbar-thumb {
  background: #F9A8D4;
  border-radius: 10px;
}
